@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


html, body{
    min-height: 100vh;
    color: grey;
}

header{
    background-color: black;
    text-align: center;
    color: white;
}

header > h1{
    padding-top: 50px;
    font: small-caps 5em "Passion One";
}

header > p{
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 15vh;
    line-height: 2em;
    font-size: 1.8em;
    padding-left: 30px;
}

section > p{
    font-family: "Sriracha";
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(70, 70, 70);
    background-image: url('');
}

section.imagem > p{
    width: 350px;
    background-color: rgba(0, 0, 0, 0.404);
    padding-left: 10px;
}

footer{
    text-align: center;
    background-color: black;
    padding: 10px 0px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
